
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fac0e0;
}

header {
    background-color: #29be31;
    color: #fac0e0;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 100px;
}

/* Navegação */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* Conteúdo principal */
main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
    text-align: center;
}

/* Parágrafos */
p {
    margin-bottom: 15px;
    font-size: 1.1em;
    text-align: justify;
}

/* Lista de valores */
ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Rodapé */
footer {
    background-color: #0fb418;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Responsividade */
@media (max-width: 768px) {
    main {
        width: 90%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
